---
---

//
// IMPORTS
//


@import "variables";
// Syntax highlighting @import is at the bottom of this file

/**************/
/* BASE RULES */
/**************/

html {
  font-size: 100%;
}

body {
	background: $white;
  font: 18px/1.4 $helvetica;
  color: $darkGray;
}

.container {
  margin: 0 auto;
  max-width: 740px;
  padding: 0 10px;
  width: 100%;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $helveticaNeue;
  color: $darkerGray;
  font-weight: bold;

  line-height: 1.7;
  margin: 1em 0 15px;
  padding: 0;

  @include mobile {
    line-height: 1.4;
  }
}

h1 {
  font-size: 30px;
  a {
    color: inherit;
  }
}

h2 {
  font-size: 24px;
}

h3 {
  font-size: 20px;
}

h4 {
  font-size: 18px;
  color: $gray;
}

p {
  margin: 15px 0;
}

a {
  color: $blue;
  text-decoration: none;
	cursor: pointer;
  &:hover, &:active {
    color: $blue;
  }
}

ul {
  list-style-type: disc;
}

ol {
  list-style-type: decimal;
}

ol ul, ul ol, ul ul, ol ol {
  margin: 0;
}

ul ul, ol ul {
  list-style-type: circle;
}

em, i {
  font-style: italic;
}

strong, b {
  font-weight: bold;
}

img {
  max-width: 100%;
}

// Fixes images in popup boxes from Google Translate
.gmnoprint img {
  max-width: none;
}

.date {
  font-style: italic;
  color: $gray;
}

// Specify the color of the selection
::-moz-selection {
  color: $black;
  background: $lightGray;
}
::selection {
  color: $black;
  background: $lightGray;
}

// Nicolas Gallagher's micro clearfix hack
// http://nicolasgallagher.com/micro-clearfix-hack/
.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

body {
  font-family: 'Lato';
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Catamaran';
  font-weight: 800 !important;
}

.btn-xl {
  text-transform: uppercase;
  padding: 1.5rem 3rem;
  font-size: 0.9rem;
  font-weight: 700;
  letter-spacing: 0.1rem;
}

.bg-black {
  background-color: #000 !important;
}

.rounded-pill {
  border-radius: 5rem;
}

.navbar-custom {
  padding-top: 1rem;
  padding-bottom: 1rem;
  background-color: rgba(0, 0, 0, 0.7);
}

.navbar-custom .navbar-brand {
  text-transform: uppercase;
  font-size: 1rem;
  letter-spacing: 0.1rem;
  font-weight: 700;
}

.navbar-custom .navbar-nav .nav-item .nav-link {
  text-transform: uppercase;
  font-size: 0.8rem;
  font-weight: 700;
  letter-spacing: 0.1rem;
}

header.masthead {
  position: relative;
  overflow: hidden;
  padding-top: calc(7rem + 72px);
  padding-bottom: 7rem;
  background: linear-gradient(0deg, #203D65 0%, #ee0979 100%);
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: scroll;
  background-size: cover;
}

header.masthead .masthead-content {
  z-index: 1;
  position: relative;
}

header.masthead .masthead-content .masthead-heading {
  font-size: 4rem;
}

header.masthead .masthead-content .masthead-subheading {
  font-size: 2rem;
}

header.masthead .bg-circle {
  z-index: 0;
  position: absolute;
  border-radius: 100%;
  background: linear-gradient(0deg, #ee0979 0%, #ff6a00 100%);
}

header.masthead .bg-circle-1 {
  height: 90rem;
  width: 90rem;
  bottom: -55rem;
  left: -55rem;
}

header.masthead .bg-circle-2 {
  height: 50rem;
  width: 50rem;
  top: -25rem;
  right: -25rem;
}

header.masthead .bg-circle-3 {
  height: 20rem;
  width: 20rem;
  bottom: -10rem;
  right: 5%;
}

header.masthead .bg-circle-4 {
  height: 30rem;
  width: 30rem;
  top: -5rem;
  right: 35%;
}

@media (min-width: 992px) {
  header.masthead {
    padding-top: calc(10rem + 55px);
    padding-bottom: 10rem;
  }
  header.masthead .masthead-content .masthead-heading {
    font-size: 6rem;
  }
  header.masthead .masthead-content .masthead-subheading {
    font-size: 4rem;
  }
}

.bg-primary {
  background-color: #ee0979 !important;
}

.btn-primary {
  background-color: #ee0979;
  border-color: #ee0979;
}

.btn-primary:active, .btn-primary:focus, .btn-primary:hover {
  background-color: #bd0760 !important;
  border-color: #bd0760 !important;
}

.btn-primary:focus {
  box-shadow: 0 0 0 0.2rem rgba(238, 9, 121, 0.5);
}

.btn-secondary:focus {
  box-shadow: 0 0 0 0.2rem rgba(255, 106, 0, 0.5);
}
.flex {
  display: flex;
  @media (max-width: 420px){
    flex-direction: column;
  }
}

h1, .h1 {
  font-size: 70px !important;
  font-family: 'Roboto', sans-serif !important;
  @media (max-width: 500px){
    font-size: 40px !important;
  }
 }

 svg {
   position: absolute;
   bottom: 0;
   width: 100%;
   height: 100px;
   /* set height to pixels if you want angle to change with screen width */
 }
 header {
   position: relative;
   max-height: 650px;
   height: 100%;
   // background-image: linear-gradient(45deg, #174E62 0%, #274E62 100%);
   background-image: linear-gradient(45deg, #203D65 0%, rgba(#2f5995, 1) 100%);
 }

 .pad-to-fit {
   padding-bottom: 200px;
 }
.blue {
  color: white;
  background-color: #1d4a9a;
}

.right-on-desktop {
  padding-right: 30px;
  @media (max-width: 420px){
    padding-right: 0;
  }
}

.no-bullet{
  list-style-type: none;
}

.nav-one .flex {
  float: right;
    @media (max-width: 420px) {
      float: none;
    }
}
.nav-one {
  color: white !important;
  text-align: right;
  background-color: rgb(62, 62, 62);
  position: fixed;
  top: 0;
  max-height: 30px;
  z-index: 10;
  width: 100%;
  @media (max-width: 420px) {
    text-align: center;
    max-height: 97px;
  }
}

.max-height-500 {
  max-height: 500px;
   overflow: hidden;
}

.m-t-50 {
  margin-top: 50px;
}

.m-t-100 {
  margin-top: 100px;
}

.m-b-50 {
  margin-bottom: 50px;
}
.pad-15 {
  padding-right: 15px;
  padding-left: 15px;
}

.pad-5 {
  padding-left: 5px;
  padding-right: 5px;
}

.background-color {
  background-image: url({{ site.baseurl }}/assets/images/img_1.jpg);
  border-radius: 2px;
  padding: 3em 3em;
  color: white !important;
}

.square {
  height: 300px;
  max-width: 300px;
  display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
  overflow: hidden;

	-ms-flex-align: center;
	-webkit-align-items: center;
	-webkit-box-align: center;

	align-items: center;
}

.svg-icon path {
  fill: #203D65;
}

.flex-center {

  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;

	-ms-flex-align: center;
	-webkit-align-items: center;
	-webkit-box-align: center;
  align-items: center;
}

.m-tb-15{
  margin-top: 15px;
  margin-bottom: 15px;
}

.invis {
  color: current-color !important;
}

.center-text {
  text-align: center;
}

.p-t-100 {
  padding-top: 100px;
}

.p-b-50 {
  padding-bottom: 50px;
}
.p-t-50 {
  padding-top: 50px;
}

.p-b-15-mob {
  @media (max-width: 420px){
    padding-bottom: 15px;
  }
}
// Settled on moving the import of syntax highlighting to the bottom of the CSS
// ... Otherwise it really bloats up the top of the CSS file and makes it difficult to find the start
@import "highlights";
@import "svg-icons";
