<!DOCTYPE html>
<html>
  <head>
    <title>{% if page.title %}{{ page.title }} – {% endif %}{{ site.name }} – {{ site.description }}</title>

    {% include meta.html %}

    <!--[if lt IE 9]>
      <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/style_2.css"/>
    <link rel="alternate" type="application/rss+xml" title="{{ site.name }} - {{ site.description }}" href="{{ site.baseurl }}/feed.xml" />

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">

    <link href="https://fonts.googleapis.com/css?family=Work+Sans" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto+Slab:400,700" rel="stylesheet">

    <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/open-iconic-bootstrap.min.css">

    <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/owl.carousel.min.css">
    <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/owl.theme.default.min.css">

    <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/icomoon.css">
    <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/flaticon.css">
    <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/animate.css">
    <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/bootstrap-datepicker.css">
    <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/style.css">
  </head>

  <body>

    <!-- Navigation -->

    <nav class="nav-one">
      <div class="container">
          <ul class="flex no-bullet" style="margin-bottom: 0;">
            <li class="right-on-desktop"><a href="#" class="white">+1 250-222-XXXX</a></li>
            <li><a href="https://goo.gl/maps/oPcC7hVGQXD2" class="white">3207 30th Ave, Vernon, BC</a></li>
          </ul>
      </div>
    </nav>

    <nav class="navbar fixed-2 navbar-expand-lg probootstrap-navbar-dark">
      <div class="container">
        <!-- <a class="navbar-brand" href="index.html">Health</a> -->
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#probootstrap-nav" aria-controls="probootstrap-nav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="probootstrap-nav">
          <ul class="navbar-nav mr-auto bold">
            <li class="nav-item active"><a href="{{ site.baseurl }}/" class="nav-link pl-0">Home</a></li>
            <li class="nav-item"><a href="{{ site.baseurl }}/patient_information" class="nav-link">Patient Information</a></li>
            <li class="nav-item"><a href="{{ site.baseurl }}/location_hours" class="nav-link">Location & Hours</a></li>
            <li class="nav-item"><a href="{{ site.baseurl }}/after_hours_care" class="nav-link">After-Hours Care</a></li>
            <li class="nav-item"><a href="{{ site.baseurl }}/team" class="nav-link">Team</a></li>
          </ul>
          <!-- <div class="ml-auto">
            <form action="#" method="get" class="probootstrap-search-form mb-sm-0 mb-3">
              <div class="form-group">
                <button class="icon submit"><span class="icon-magnifying-glass"></span></button>
                <input type="text" class="form-control" placeholder="Search">
              </div>
            </form>
          </div> Remove search for now -->
        </div>
      </div>
    </nav>
    <!-- END nav -->

    </div>

    {{ content }}


    <footer class="probootstrap-footer">
      <div class="container">
        <div class="row mb-5">
          <div class="col-md-3">
            <h3 class="heading">Office Location</h3>
            <p class="mb-5">3207 30th Ave, Vernon, BC V1T 2C6, Canada</p>
            <h3 class="heading text-white">Hours</h3>
            <p>
              Mon-Fri 7:30-18:00 <br>
              Sat-Sun Closed
            </p>
            <h3 class="heading text-white">Contact</h3>
            <p>
              250-222-xxxx<br>
              contact@mainstreetmedicalwest.com
            </p>
          </div>
          <div class="col-md-3" class="offset-md-6">
            <h3 class="heading">Quick Links</h3>
            <ul class="list-unstyled probootstrap-footer-links">
              <li><a href="#">Home</a></li>
              <li><a href="#">Patient Information</a></li>
              <li><a href="#">After-hours care</a></li>
              <li><a href="#">Location and Hours</a></li>
            </ul>
          </div>
        </div>
        <!-- END row -->
        
      </div>
    </footer>

    <!-- loader -->
      <div id="probootstrap-loader" class="show fullscreen"><svg class="circular" width="48px" height="48px"><circle class="path-bg" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke="#eeeeee"/><circle class="path" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke-miterlimit="10" stroke="#32609e"/></svg></div>


    {% include analytics.html %}

    <script src="{{ site.baseurl }}/assets/js/jquery-3.2.1.min.js"></script>
    <script src="{{ site.baseurl }}/assets/js/popper.min.js"></script>
    <script src="{{ site.baseurl }}/assets/js/bootstrap.min.js"></script>
    <script src="{{ site.baseurl }}/assets/js/owl.carousel.min.js"></script>
    <script src="{{ site.baseurl }}/assets/js/jquery.waypoints.min.js"></script>
    <script src="{{ site.baseurl }}/assets/js/bootstrap-datepicker.js"></script>
    <script src="{{ site.baseurl }}/assets/js/jquery.animateNumber.min.js"></script>

    <script src="{{ site.baseurl }}/assets/js/main.js"></script>

  </body>


</html>
