<!DOCTYPE html>
<html>
  <head>
    <title>{% if page.title %}{{ page.title }} – {% endif %}{{ site.name }}</title>

    {% include meta.html %}

    <!--[if lt IE 9]>
      <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/style_2.css"/>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">

    <link href="https://fonts.googleapis.com/css?family=Merriweather:400,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700" rel="stylesheet">

    <link rel="shortcut icon" type="image/png" href="{{ site.baseurl }}/assets/favicon/stethoscope-32.png"/>

    <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/open-iconic-bootstrap.min.css">

    <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/owl.carousel.min.css">
    <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/owl.theme.default.min.css">

    <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/icomoon.css">
    <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/flaticon.css">
    <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/animate.css">
    <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/style.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
  </head>

  <body>

    <!-- Navigation -->

    <nav class="navbar navbar-expand-lg probootstrap-navbar-dark center">
      <div class="container">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#probootstrap-nav" aria-controls="probootstrap-nav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>



        <div class="collapse navbar-collapse" id="probootstrap-nav">
          <ul class="navbar-nav center bold">
            <li class="nav-item active"><a href="{{ site.baseurl }}/" class="nav-link">Home</a></li>
            <li class="nav-item"><a href="{{ site.baseurl }}/location_hours" class="nav-link">Location & Hours</a></li>
            <li class="nav-item"><a href="{{ site.baseurl }}/after_hours_care" class="nav-link">After Hours Care</a></li>

            <li class="nav-item dropdown">
              <a href="{{ site.baseurl }}/patient_information" class="nav-link">
                <div class="dropdown-toggle hover-up" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Patient Information
                </div>
              </a>
              <div style="margin-top: -5px " class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <a class="dropdown-nav" href="{{ site.baseurl }}/patient_information#websites">Recommended Websites</a>
                <a class="dropdown-nav" href="{{ site.baseurl }}/patient_information#healthinfo">General Health Information</a>
                <a class="dropdown-nav" href="{{ site.baseurl }}/patient_information#smoking">Smoking Cessation</a>
              </div>
            </li>

          </ul>

        </div>
      </div>
    </nav>
       <!--END nav -->

    </div>

    {{ content }}


    <footer class="probootstrap-footer">
      <div class="container">
        <div class="row mb-5">
          <div class="col-md-3">
            <h3 class="heading">Location</h3>
            <p>3207 30th Ave, Vernon, BC V1T 2C6, Canada</p>
            <h3 class="heading text-white">Hours</h3>
            <p>
              Mon-Fri 8:30-5:00 <br>
              Sat-Sun Closed
            </p>
            <h3 class="heading text-white">Contact</h3>
            <p>
              <a href='tel:+1.250.549.1216' onMouseOver="this.style.color='#FFFF'" onMouseOut="this.style.color='#7D8EA5'">+1 (250) 549 - 1216</a><br>
            </p>
          </div>
          <div class="col-md-3" class="offset-md-6">
            <h3 class="heading">Quick Links</h3>
            <ul class="list-unstyled probootstrap-footer-links">
              <li><a href="#">Home</a></li>
              <li><a href="{{ site.baseurl }}/patient_information">Patient Information</a></li>
              <li><a href="{{ site.baseurl }}/after_hours_care">After Hours Care</a></li>
              <li><a href="{{ site.baseurl }}/location_hours">Location and Hours</a></li>
            </ul>
          </div>
        </div>
        <!-- END row -->

      </div>
    </footer>

    <!-- loader -->
      <div id="probootstrap-loader" class="show fullscreen"><svg class="circular" width="48px" height="48px"><circle class="path-bg" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke="#eeeeee"/><circle class="path" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke-miterlimit="10" stroke="#32609e"/></svg></div>


    {% include analytics.html %}

    <script src="{{ site.baseurl }}/assets/js/jquery-3.2.1.min.js"></script>
    <script src="{{ site.baseurl }}/assets/js/bootstrap.min.js"></script>
    <script src="{{ site.baseurl }}/assets/js/owl.carousel.min.js"></script>
    <script src="{{ site.baseurl }}/assets/js/jquery.waypoints.min.js"></script>
    <script src="{{ site.baseurl }}/assets/js/jquery.animateNumber.min.js"></script>

    <script src="{{ site.baseurl }}/assets/js/main.js"></script>

  </body>


</html>
